parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$certificate of function openssl_x509_read expects OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: application/clicommands/ImportCommand.php

		-
			message: '#^Parameter \#1 \$certificate of function openssl_x509_parse expects OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateDetails.php

		-
			message: '#^Parameter \#1 \$string of function bin2hex expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: library/X509/CertificateDetails.php

		-
			message: '#^Parameter \#1 \$certificate of function openssl_x509_export expects OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#1 \$certificate of function openssl_x509_fingerprint expects OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#1 \$certificate of function openssl_x509_parse expects OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#1 \$key of function openssl_pkey_get_details expects OpenSSLAsymmetricKey, OpenSSLAsymmetricKey\|false given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#1 \$public_key of function openssl_pkey_get_public expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/CertificateUtils.php

		-
			message: '#^Parameter \#1 \$num1 of function gmp_add expects GMP\|int\|string, GMP\|null given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Job.php

		-
			message: '#^Parameter \#1 \$num1 of function gmp_and expects GMP\|int\|string, GMP\|null given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Job.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Job.php

		-
			message: '#^Parameter \#1 \$string of function base64_encode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/DERBase64.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/DERBase64.php

		-
			message: '#^Parameter \#1 \$ip of function inet_ntop expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/Ip.php

		-
			message: '#^Parameter \#1 \$ip of function inet_pton expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/Ip.php

		-
			message: '#^Parameter \#1 \$string of function ltrim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/Ip.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: library/X509/Model/Behavior/Ip.php
