[Unit]
Description=Icinga Certificate Monitoring Module Jobs Runner

[Service]
Type=simple
ExecStart=/usr/bin/icingacli x509 jobs run
Restart=on-success

[Install]
WantedBy=multi-user.target
