name: CI

on:
  push:
    branches:
      - main
      - support/*
  pull_request:

jobs:
  php:
    name: PHP
    uses: Icinga/github-actions/.github/workflows/php.yml@main
    with:
      dependencies: |
        {
          "./vendor/icingaweb2-modules/director" : "https://github.com/Icinga/icingaweb2-module-director.git"
        }
